<html>
  <head>
    <meta charset="utf-8">
    <!-- 브라우저에 한글을 표시하기 위해 meta태그를 추가하고 charset속성을 이용해
    값을 utf-8로 주고 한글을 표시할수 있게 했다 -->
    <title>Choco's blog</title>
  </head>
  <body>
    <div>
      <h1><a href=""><strong>Choco의 기록</strong></a></h1>
    </div>

    <div>
      <p>published: 05/09/2018</p>
      <h2><a href="">나의 첫번째 포스트</a></h2>
      <p><strong>Hello World!</strong></p>
    </div>

    <div>
      <p>published: 05/09/2018</p>
      <h2><a href="">두번째 포스트</a></h2>
      <p>일단 만들면서 생각하자</p>
    </div>
  </body>
</html>
<!-- 각 HTML 페이지는 두가져 요소, Head 와 Bdoy로 구분된다
head는 문서 정보를 가지고 있지만, 웹 페이지에서 보이지 않는 정보들을 담는 영역이다
body란 웹 페이지에 직접적으로 보이는 내용이 들어간다. 웹 페이지의 내용은 모두
이 body태그안에 들어간다
<head>는 브라우저에 페이지에 대한 설정들을 알려주고, <body>는 실제 페이지에 보여줄
내용을 알려준다
브라우저는 <title>를 해석에 <title>안에 있는 내용을 브라우저 제목 표시줄에 내용을
반영한다
태그는 /로 태그 마침하고 여러 태그를 중첩해서 사용할 수 있다 (모든 태그는 꼭
닫아줘야 한다)
-->
